.projects {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(40rem, 1fr));
    gap: 2rem;
    max-width: 125rem;
    margin: 5rem auto 0;
    justify-items: center;
    align-items: center;
}