.navigation {
  position: -webkit-sticky;
  position: sticky;
}

.navigation__title {
  padding: 0 3rem;
  border-bottom: 1px solid rgb(240, 240, 240);
}

.navigation__links {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  list-style: none;
}

.navigation__links li {
  margin: 0 1rem;
}

.navigation__links li a {
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: rgb(240, 240, 240);
}

.navigation__links li a:hover {
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: rgb(60, 120, 245);
}

.about-me {
  margin-top: 2rem;
}

.about-me__face {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
}

.about-me__face img {
  width: 10rem;
  border-radius: 100%;
}

.about-me__desc {
  margin-top: 2rem;
  text-align: justify;
}

.about-me__techlist {
  margin-top: 2rem;
  text-align: center;
}

.about-me__tech-category {
  margin-top: 2rem;
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  justify-items: center;
  -webkit-box-pack: center;
          justify-content: center;
}

.about-me__tech-bubble {
  margin: 0.3rem;
  padding: 0.2rem 0.5rem;
  border-radius: 0.5rem;
  text-align: center;
  vertical-align: middle;
  cursor: default;
  background-color: rgb(60, 120, 245);
}

.projects {
  margin-top: 5rem;
  text-align: center;
}

.projects>h4 {
  margin-bottom: 2rem;
}

.projects__entry {
  display: -webkit-box;
  display: flex;
  background-color: rgb(15, 15, 15);
  margin-bottom: 2rem;
  border-radius: 1rem;
  min-height: 13rem;
  box-shadow: inset 0px 15px 30px -20px rgba(0, 0, 0, 0.15);
}

.projects__entry__image {
  margin: 1rem;
  width: 10rem;
  height: 10rem;
  align-self: center;
  object-fit: cover;
  border-radius: 1rem;
}

.projects__entry__body {
  margin: 1rem;
}

.projects__entry__title {
  margin: 1rem 0;
  font-weight: 500;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.projects__entry__links {
  font-size: 2rem;
  padding: 0 1rem;
  display: -webkit-box;
  display: flex;
}

.projects__entry__links a {
  margin: 0 0.5rem;
  text-decoration: none;
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
  color: rgb(60, 120, 245);
}

.projects__entry__links a:hover {
  color: rgb(240, 240, 240);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.projects__entry__links svg {
  height: 2rem;
  width: 2rem;
}

.projects__entry__links svg path {
  fill: rgb(60, 120, 245);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

.projects__entry__links svg:hover path {
  fill: rgb(240, 240, 240);
  -webkit-transition: all 0.25s ease-out;
  transition: all 0.25s ease-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(240, 240, 240);
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

.main {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  -webkit-box-align: center;
          align-items: center;
  /* border: 1px solid red; */
  width: 768px;
}
