@import "../Globals/Colors";

.ProtoBorder{
  $BorderWidth: 0.3rem;
  $BorderColor: map-get($ProtoColorsBase, "Blue");
  $BorderStyle: solid;
  border-style: $BorderStyle;
  border-width: $BorderWidth;
  border-color: $BorderColor;
  &-Left{
    border-left-color: $BorderColor;
    border-left-style: $BorderStyle;
    border-left-width: $BorderWidth;
  }
    &-Top{
    border-top-color: $BorderColor;
    border-top-style: $BorderStyle;
    border-top-width: $BorderWidth;
  }
    &-Right{
    border-right-color: $BorderColor;
    border-right-style: $BorderStyle;
    border-right-width: $BorderWidth;
  }
    &-Bottom{
    border-bottom-color: $BorderColor;
    border-bottom-style: $BorderStyle;
    border-bottom-width: $BorderWidth;
  }
}