.socialBar {
    padding: 0.5rem;
    display: flex;
}

.socialBar a {
    display: block;
    margin: 0 0.3rem;
    width: 5rem;
    height: 5rem;
}

.socialBar svg {
    margin: auto;
    transform: scale(0.9);
    transition: 0.25s all ease-out;
}

.socialBar svg:hover {
    transform: scale(1.1);
}

.socialBar svg path {
    fill: var(--color-primary);
    transition: 0.25s all ease-out;
}

.socialBar svg:hover path {
    fill: var(--color-primary-hover);
}