@use "sass:color";

$textBlackBase: hsl(0, 0%, 5%);
$textWhiteBase: hsl(0, 0%, 95%);
$textWhiteBaseTransparent: color.adjust($textWhiteBase, $alpha: -0.8);
$textGreyBase: hsl(0, 0%, 80%);

$link: hsl(210, 85%, 80%);
$linkHover: color.adjust($link, $saturation: +10%, $lightness: +15%);