.main-layout {
    width: 100%;
    max-width: 90rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 60em) {
        max-width: unset;
        padding: 0 5rem;
    }
}