* {
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(20, 20, 20);
  color: rgb(240, 240, 240);
  font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}