@use '_styles/colors';

.content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style: none;
    padding: 0 5rem 5rem;
    border-right: 3px solid colors.$textWhiteBaseTransparent;

    @media screen and (max-width: 43.8em) {
        border-right: none;
    }

    @media screen and (max-width: 60em) {
        &:nth-child(2) {
            border: none;
        }
    }

    &:last-child {
        border: none;
    }
}

.item {
    display: flex;
    align-items: flex-end;
    font-size: 1.4rem;
    padding-bottom: 1rem;
    width: 100%;
    transition: transform 0.2s ease-out;
    cursor: default;

    &:hover {
        cursor: default;
        transform: scale(1.05);
    }
}

.name {
    margin-right: 1rem;
    text-align: right;
    flex-grow: 1;
}

.icon {
    min-height: 2rem;
    min-width: 2rem;
    max-height: 2rem;
    max-width: 2rem;
    margin-right: 1rem;
}