.SocialBar{
  
  
  height: 5vh;
  
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: row-reverse;
}

.SocialButton{
  margin: 0px 0.5vw 0px 0.5vh;
  height: 5vh;
  transition: height .15s, transform .15s;
  transition-timing-function: ease-out;
}
.SocialButton:hover{
   height: 10vh;
   transform: translateY(-5vh);
}
