:root {
font-size: 10px;
--fonts: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", "Helvetica", "Arial", sans-serif;

--text-big: 2rem;
--text-medium: 1.5rem;
--text-small: 1rem;
}
