.AboutPage {
  display: grid;
  grid-template-columns: 1fr 3fr;
  margin-top: 5rem;
  justify-items: center;
  align-items: center;

  .Headline {
    display: flex;
    flex-direction: column;

    img {
      width: 10rem;
      align-self: center;
      border-radius: 100%;
    }

    text-align: center;
  }

  .Info {
    padding: 0 2rem;
    display: flex;
    flex-direction: column;
    text-align: justify;

    h1 {
      font-size: 6rem;
      font-weight: 400;
      margin: 0;

      @include mediaLarge() {
        text-align: center;
        font-size: 4rem;
      }

      @include mediaMedium() {
        font-size: 2rem;
      }
    }
  }
  .Lists {
    grid-column: 1 / span 2;
    align-self: center;
    h4 {
      font-weight: 400;
    }

    ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin-left: 3rem;
      align-items: center;
      flex-wrap: wrap;
      li {
        margin-right: 1rem;
      }
    }

    @include mediaLarge() {
      grid-column: 1;
    }
  }
  .TechList {
    h4 {
      font-weight: 600;
    }
    display: flex;
  }

  @include mediaLarge() {
    grid-template-columns: 5fr;
    padding-bottom: 15vh;
  }
}
