background-decoration {
    top: 0;
    left: 0;
    z-index: -10;
    position: absolute;
    width: 100vw;
    height: 100%;
    overflow: hidden;
}

.backgroundSection {
    pointer-events: none;
    box-sizing: border-box;
    position: relative;
    transform: rotateZ(-30deg) skewX(-30deg);
    width: 120%;
    left: -10%;
    top: 0;
    opacity: 0.3;
}