.Header{
  position: fixed;
  background-color: #111A22;
  top: 0;
  height: 10vh;
  width: 100vw;
  padding-bottom: 2vh;
}

.Title {
  font-family: Libby Heavy;
  margin-top: 2vh;
  font-size: calc(2vh + 2vw);
  display: flex;
  justify-content: center;
}

.Subtitle{
  display: flex;
  justify-content: center;
  font-family: "Roboto-Light";
  font-size: calc(1vh + 1vw);
  margin-top: calc(-2vh - 2vw);
}