.Header{
  position: fixed;
  background-color: #111A22;
  top: 0;
  min-height: 10vh;
  width: 100vw;
}

.Title {
  font-family: Libby Heavy;
  margin-top: 2vh;
  font-size: 5vh;
  display: flex;
  justify-content: center;
}

.Subtitle{
  display: flex;
  justify-content: center;
  font-family: Roboto-Thin;
  font-size: 2vh;
  margin-top: -4vh;
}