$ProtoColorsHighlights: (
  "White": hsl(0, 0%, 100%),
  "Black": hsl(0, 0%, 15%),
  "Blue": hsl(220, 90%, 70%)
);

$ProtoColorsBase: (
  "White": hsl(0, 0%, 90%),
  "Black": hsl(0, 0%, 10%),
  "Blue": hsl(220, 90%, 60%)
);

$ProtoColorsShades: (
  "White": hsl(0, 0%, 80%),
  "Black": hsl(0, 0%, 5%),
  "Blue": hsl(220, 80%, 50%)
);
