body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #10406F;
  color:#F2F2F2;
  text-align: center;
  margin: 0;
}


@font-face{
  font-family: Libby Heavy;
  src: url(./Fonts/LibbyHeavy.ttf);
  
}

@font-face{
  font-family: Roboto-Thin;
  src: url(./Fonts/Roboto-Thin.ttf);
}