body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #10406F;
  color:#F2F2F2;
  text-align: center;
  margin: 0;
  padding-top: 12vh;
  padding-bottom: 7vh;
}


@font-face{
  font-family: "Libby Heavy";
  src: url(./Fonts/LibbyHeavy.ttf);
  
}

@font-face{
  font-family: "Roboto-Light";
  src: url(./Fonts/Roboto-Thin.ttf);
}